# {{ directory }}

## Build and install

```console
mkdir build
cd build
cmake ..
cmake --build .
cmake --install .
```

## Run

```console
./dist/bin/{{ executable }}
```

Should output something like:

```console
```

