AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
ColumnLimit: 120
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 2
PointerAlignment: Middle
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
SpaceBeforeCaseColon: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
UseCRLF: false
UseTab: Never
