# {{ project }}

## Build and install

```shell
mkdir build
cd build
cmake ..
cmake --build .
cmake --install .
```

## Run

```shell
./dist/bin/program
```

Should output something like:

```text
```

