#include <math.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

void show_usage (FILE * stream);

int main (int argc, char * argv[]) {

    if (argc == 2 && (strncmp(argv[1], "--help", 7) == 0 || strncmp(argv[1], "-h", 3) == 0)) {
        show_usage(stdout);
        exit(EXIT_SUCCESS);
    }

    if (argc != 1) {
        show_usage(stderr);
        exit(EXIT_FAILURE);
    }

    fprintf(stdout, "-- test compile definitions\n");
#ifndef DEBUG
    fprintf(stdout, "   DEBUG compile definition has not been defined.\n");
#else
    fprintf(stdout, "   DEBUG compile definition has been defined.\n");
#endif
    fprintf(stdout, "\n");


    fprintf(stdout, "-- test whether math library was linked\n");
    fprintf(stdout, "   sqrt(144) = %f\n", sqrt(144));
    fprintf(stdout, "\n");


    fprintf(stdout, "-- test c2x / c23 features\n");
    constexpr int n = 5;
    int arr[n] = {0, 1, 2, 3, 4};
    fprintf(stdout, "   ");
    for (size_t i = 0; i < n; i++) {
        fprintf(stdout, "%d%s", arr[i], i < n - 1 ? " " : "\n");
    }
    fprintf(stdout, "\n");

    return EXIT_SUCCESS;
}

void show_usage (FILE * stream) {
    char * exename = "{{ executable }}";
    fprintf(stream, "Usage: %s\n", exename);
}

